{% extends 'ppw/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
{% block body %}
    <meta charset="UTF-8">
    <title>Status</title>	
</head>
                
<body style="background-color: whitesmoke">
    
    <h1 class="text-center">Hello apa kabar?</h1>

    <div class="container text-center mt-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" href="/tampil" class="btn btn-primary" id="submit">
            <a class="btn btn-danger" href="/delete">Delete All</a>
        </form>
    </div>

    <div class="container mt-5">
            {% if event %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Message &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>
                          <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in event %}
                        <tr>
                          <td>{{ a.pesan }}</td>
                          <td>{{ a.tanggal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    </div>
{% endblock %}    
</body>
    
</html>
