{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'ppw/jquery-3.3.1.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
    <script type="text/javascript" src="{% static 'ppw/story8.js' %}"></script>
    
    <title>Library</title>
</head>

<body style="background-color: whitesmoke">
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class ="container">
            <a class="navbar-brand" href="#">Sendhy Nugroho</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'message' %}">Status</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'library' %}">Library</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#c5e8d6"><b>Change your style</b></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1" id="nav">
                            <li><a class="dropdown-item" id="style1" href="#">Light</a></li>
                            <li><a class="dropdown-item" id="style2" href="#">Dark</a></li>
                        </ul>
                     </li>
                     <a href="{% url 'logout_page' %}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </div>
            </div>
        </div>    
    </nav>

    <div class="container mt-5">
        
        {% if user.is_authenticated %}
             <h1 class="display-4" style="text-align:center">Hello, {{ user.first_name }} {{ user.last_name }}</h1>
	    {% else %}
             <a class="lead" href="{% url 'registration' %}">Log in</a>
	    {% endif %}

        <h1 style="text-align:center">★: <span id="favorite-counter"></span> Favorite book</h1>
        
        <!--<div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Your Book
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a data-url='{% url "data_comic" %}' class="dropdown-item" id="comic" href="#">Comic</a>
            <a data-url='{% url "data_movie" %}' class="dropdown-item" id="architecture" href="#">Movie</a>
            <a data-url='{% url "data_quilting" %}' class="dropdown-item" id="quilting" href="#">Quilting</a>
          </div>
        </div>-->
        
        <table id="library_table" class="table table-striped table-bordered dt-responsive" style="width:100%">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Cover</td>
                    <td>Title</td>
                    <td>Authors</td>
                    <td>Publishers</td>
                    <td>Publish date</td>
                    <td>Categories</td>
                    <td>Add to Favorites</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#library_table').DataTable({
            "processing": true,
            "scrollX": true,
            "ajax": {
                "url": '{% url "data_comic" %}',
            },

            "lengthMenu": [5, 10, 25, 50],

            "columns": [
                // book id
                {
                    data: "id",
                    defaultContent: "<i>unknown data<i>"
                },
                // book cover
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return '<img src=' + data.volumeInfo.imageLinks.smallThumbnail + '>'

                    }
                },
                // book title
                {
                    data: "volumeInfo.title",
                    defaultContent: "<i>unknown data<i>"
                },
                // book author
                {
                    data: "volumeInfo.authors[,]",
                    defaultContent: "<i>unknown data<i>"
                },
                // book publisher
                {
                    data: "volumeInfo.publisher",
                    defaultContent: "<i>unknown data<i>"

                },
                // book published date
                {
                    data: "volumeInfo.publishedDate",
                    defaultContent: "<i>unknown data<i>"
                },
                // book categories
                {
                    data: "volumeInfo.categories",
                    defaultContent: "<i>unknown data<i>"
                },
                {
                    orderable: false,
                    data: null,

                    render: function (data, type, row, meta) {
                        return "<p class='favorite star-symbol' style='font-size:50px;'>"+"☆"+"</p>"
                    }
                }
            ],

            "columnDefs": [
                {
                    targets: 0,
                    visible: false,
                    searchable: false
                },
            ],
        });

        var count_books = localStorage.getItem('favorite-counter');

        if (count_books === null) {
            count_books = 0;
        }

        update_favorite();

        $(document).on('click', '.favorite', function () {
            if ($(this).text() == "☆") {
                var favorite = document.getElementById("favorite-counter");
                if (sessionStorage.getItem("fav")) {
                    // Restore the contents of the text field
                    sessionStorage.setItem("fav", Number(sessionStorage.getItem("fav")) + 1)
                    sessionStorage.setItem("star", "★")
                }
                else{
                    sessionStorage.setItem("fav", 1)
                    sessionStorage.setItem("star", "★")
                }
                
                update_favorite();
                $(this).text(sessionStorage.getItem("star")).css('color','yellow');
                
            } else {
                var favorite = document.getElementById("favorite-counter");
                if (sessionStorage.getItem("fav")) {
                    
                    sessionStorage.setItem("fav", Number(sessionStorage.getItem("fav")) - 1)
                    sessionStorage.setItem("star", "☆")
                }
                else{
                    sessionStorage.setItem("fav", 1)
                    sessionStorage.setItem("star", "★")
                }
                
                update_favorite();
                $(this).text(sessionStorage.getItem("star")).css('color','black');
            }
        });


        localStorage.setItem('favorite-counter', count_books);
        function update_favorite() {
            document.getElementById('favorite-counter').innerHTML = sessionStorage.getItem("fav");
        };
    });
</script>

</html>