{% extends 'ppw/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
{% block body %}
    <title>Profile</title>
</head>
    
<style>
    body{
        background-color: whitesmoke;
    }

    .jumbotron{
        background-color: #f8f3f5;
        background-size: cover;
    }

    .titletext{
        margin-top: 5vw;
        margin-bottom: 5vw;
        color: black;
    }

    #about{
        background-color: #ab1313;
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .accordion {
        background-color: deepskyblue;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: royalblue; 
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: lightslategray;
        overflow: hidden;
    }
</style>
    
<body style="margin:0px">

    <div class="container-fluid text-center" style="margin-top: 7%">
        <img src="{% static 'ppw/images/P_20150524_130131.jpg' %}" width=18% class="rounded-circle img-thumbnail" style="margin-top: 25px">
        <p class="hometext" style="font-size: 4vw; font-family: inherit; color: black">
            <b>Hello! I'am <br>
            Sendhy <br>
            Nugroho</b>
        </p>
    </div>

    <section class="aboutme">
    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col-md-6 padding-0" id="abouttext" style="color: black">
                <h1 style="margin-bottom: 2vw">About Me</h1>
                <p style="height: 5vw"><i>My Story</i></p>
                <p style="text-align: justify; font-size: 100%; margin-right: 20px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="col-md-6 padding-0">
                <img src="{% static 'ppw/images/343259.jpg' %}" alt="about" width=100%>
            </div>
        </div>
    </div>
    </section>
    
    <button class="accordion">Activity</button>
    <div class="panel">
      <li>Studying at Faculty of Computer Science University of Indonesia</li>
      <li>Become a committee of several events</li>
    </div>

    <button class="accordion">Education</button>
    <div class="panel">
        <li>SDN Pisangan Baru 01 Jakarta Timur</li>
        <li>SMPN 7 Jakarta</li>
        <li>SMAN 31 Jakarta</li>
        <li>S1 Sistem Informasi Fasilkom UI</li>
    </div>

    <button class="accordion">Organization Experience</button>
    <div class="panel">
      <li>ROHIS SMAN 31</li>
      <li>MPK SMAN 31</li>
      <li>FUKI (Departemen Sosial Politik)</li>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}

</body>

</html>